@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

button,
a {
  cursor: pointer;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.cm-scroller {
  scrollbar-width: none;
}

.cm-scroller::-webkit-scrollbar {
  display: none;
}