@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@import "./colors.css";

@custom-variant dark (&:where(.dark, .dark *));

button,
a {
  cursor: pointer;
}

@utility colors-smooth {
  @apply transition-colors duration-300;
}

@utility hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.animate-shine {
  animation: shine 3s ease-in-out infinite;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }

    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }

    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }

    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }

    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }

  --animate-gradient: gradient 8s linear infinite;

  @keyframes gradient {
    to {
      background-position: var(--bg-size, 300%) 0;
    }
  }

  --animate-shiny-text: shiny-text 8s infinite;

  @keyframes shiny-text {

    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }

    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }
}